#gallery-section {
    display: grid;
    position: relative;
    text-align: center;
    grid-gap: 20px;
    grid-template-columns: repeat(1, minmax(350px, 1fr));
    top: 50px;
}

.search-bar > input {
    width: 20vw;
    min-width: 200px;
    /* background-color: transparent; */
    opacity: 30%;
    /* border: none; */
    /* border-top: none;
    border-left: none;
    border-right: none; */
    border-radius: 50px;
    border-color: #D2B48C;
    color: #D2B48C;
    outline: none;
}

.search-bar > input::placeholder,
.search-bar > input:-ms-input-placeholder,
.search-bar > input::-ms-input-placeholder {
    color: #D2B48C;
    opacity: 1;
}



.tablist {
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    overflow: scroll;
    white-space: nowrap;
    padding: 10px 40px;
}

.tablist::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.tablist {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.tablist > div {
    /* border: 1px solid black;
    flex: 1 0 21%; */
    display: inline-block;
}

.tablist > div > a {
    border-radius: 50px;
    vertical-align: middle;
    padding: 0 20px;
    padding-left: 0;
    background-color: #eedfdf;
    border: 1px solid #dfe1e5;
    color: #3c4043;
    display: inline-block;
    margin-left: 8px;
    -webkit-tap-highlight-color: rgba(255,255,255,0.161);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 185px;

}

.tablist > div > a > img {
    float: left;
    border-radius: 24px;
    /* display: inline; */
    height: 50px;
    width: 50px;
    margin: 2px 8px 2px 2px;
    object-fit: cover;
    overflow: hidden;
    vertical-align: middle;
    margin: 3px 12px 3px 3px;
    border-radius: 25px;
}

.tablist > div > a > span {
    line-height: 50px;
}

.image-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 100px;
    padding: 0 50px;

}

.image-section > .thumbnail-image {
    width: 315px;
    height: 315px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.image-section > .thumbnail-image > img {
    width: auto;
    height: 100%;
}