#gallery-search {
    display: block;
    width: 50%;
    border: none;
    border-radius: 15px;
    outline: none;
    margin: 20px 0;
    padding: 4px 12px 4px 36px;
    font-size: 20px;
    background-color: #fff;
    background-size: 24px;
    background-image: url('../images/search-icon.png');
    background-position: 5px 7px;
    background-repeat: no-repeat;
    box-shadow: 0 0 3px 1px #a9a8a8;
    transition: all 0.3s ease;
  }
  
  .image-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    grid-gap: 20px;
  }