html,
body,
#root,
.App {
    height: 100%;
    overflow-x: hidden;
}

/* html,
#root {
    background-image: linear-gradient(#E9E7E7, #E4E2E3);
} */

body {
    min-height: 100%;
    background-color: #E9E7E7;
}

section {
    margin-bottom: 15px;
}

label {
    margin-bottom: 0;
}

a:hover, a:not([href]), a:not([href]):hover {
    color: #D2B48C;
}

/**
    Default setting
*/

.mainContent-padding {
    padding: 75px 18% 0 18%;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}

.opacity-none {
    opacity: 0;
}

.opacity-full {
    opacity: 1;
}

.width-none {
    width: 0;
}

.width-full {
    width: 100%;
}

.height-none {
    height: 0;
}

.height-full {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.bgColor-main {
    background-color: #E9E7E7;
}

.bgColor-divider{
    background: none;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.fontColor-main {
    color: #D2B48C;
}

.btn-hoverBgColor:hover,.btn-focusBgColor:focus {
    background-color:#dadede;
}