header {
  padding: 0;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  width: 100%;
  height: 75px;
  z-index: 99;
  box-shadow: 0 2px 5px #a9a8a8;
}

header .logo {
  margin-left: 5%;
}

header nav .nav-link {
  display:inline-flex;
  width: 33%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  position: relative;
}

header nav .nav-link.active:nth-child(1)~hr{
  margin-left: 0;
}

header nav .nav-link.active:nth-child(2)~hr {
  margin-left: 33%;
}

header nav .nav-link.active:nth-child(3)~hr {
  margin-left: 66%;
}

header nav .nav-link:nth-child(1):hover~hr {
  margin-left: 0;
}

header nav .nav-link:nth-child(2):hover~hr {
  margin-left: 33%;
}

header nav .nav-link:nth-child(3):hover~hr {
  margin-left: 66%;
}

header hr {
  margin: 0;
  background: #D2B48C;
  height: 0.25rem;
  border: none;
  width: 33%;
  transition: margin 0.3s ease;
}
