.skills {
    /* display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    height: 30vh;
    width: 100%;
    padding: 30px; */
}

.skills li {
    list-style: none;
}

.skills ul {
    padding-left: 0;
}
