.experience-bar-overall {
    background-color: dimgray;
    height: 18px;
    border-radius: 4px;
}

.experience-bar-level {
    background-color: green;
    height: 18px;
    border-radius: 4px;
}

.skills li {
    list-style: none;
}

.skills ul {
    padding-left: 0;
}

.skill-list {
    margin-bottom: 10px
}